<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>跨性别导航 | kuaer.club</title>
    <meta name="generator" content="Jekyll v3.9.2">
    <meta property="og:title" content="跨性别导航">
    <meta property="og:locale" content="en_US">
    <meta name="description" content="Transgender Navigation">
    <meta property="og:description" content="Transgender Navigation">
    <link rel="canonical" href="https://kuaer.club/">
    <meta property="og:url" content="http://kuaer.club/">
    <meta property="og:site_name" content="kuaer.club">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta property="twitter:title" content="跨性别导航">
    <link rel="stylesheet" href="./assets/css/style.css">

</head>

<body>
    <div class="title">
        <%= kuaer.title %>
    </div>
    <div class="main-content">
        <% for(const part of kuaer.data) { %>
            <div class="card">
                <a name= <%= btoa(encodeURIComponent(part.title)) %> ></a>
                <h2>
                    <%= part.title %>
                </h2>
                <% for(const item of part.data) { %>
                    <% if (item.type=="a" ) { %>
                        <div class="list-item">
                            <a href=<%=item.href%> >
                                <%= item.text %>
                            </a>
                        </div>
                    <% } else if (item.type=="p" ) { %>
                        <p>
                            <%= item.text %>
                        </p>
                    <% } %>
                <% } %>
            </div>
        <% } %>
    </div>
    <div class="timeline">
        <div class="card">
            <ul>
                <% for(const part of kuaer.data) { %>
                    <li>
                        <a href=<%= "#" + btoa(encodeURIComponent(part.title)) %>  >
                            <%= part.title %>
                        </a>
                        
                    </li>
                <% } %>
            </ul>
        </div>
    </div>

</body>